/* DEFINICION DE VARIABLES */
:root {
    --color-principal: #fff;
    --color-secondary: #04B4E0;
    --color-background: #F2F7F9;
    --color-transparent: transparent;
    --color-icon: #B5B6B7;
    --color-title: #222;
    --color-subtitle: #888;
    --color-text: #555;
}

/* ESTILOS GENERALES */

/* ESTRUCTURA PRINCIPAL */